

h1{
	text-align:center;
	margin:15px;
}

img{
	height:120px; 
	width:120px;
	border-radius:100%;

}

.border{
	background-color:#FF66CC;
	margin:20px 0px;
	border-radius:20px;
}

.interior{
	height:200px;
	width:200px;
	background-color:#FF66CC;
	border-radius:20px;
}


.inte{
	height:200px;
	background-color:#FF66CC;
	margin:20px 0px;
	border-radius:20px;
}