h1{
	text-align: center;
	margin:15px;
}

.border{
	margin:15px;
	background-color:#EEE8AA;
	border-radius:20px;

}

img{
	margin:15px;
	height:250px;
	width:250px;
	border-radius:20%;
	float:left;
}

#parrafo{
	margin:10px;
}


.circulo{
  height:100px;
	width:100px;
	margin:0px;
	border-radius:100%;
}