
h1{
	text-align:center;

}
#img{
	float:left;
}

img{
	height:100px;
	width: 100px;
	border-radius:20%;
	margin:5px;
}

.bord{
	 background-color:#FFC0CB;
	 border-radius:20px;
	
}

div{
	margin:10px 0px;
}