

#size{
	height:500px;
	width:950px;
	
}



	
 #inter {
 	background-color:#BDB76B;
	padding:5px 0px;
	border-radius:20px;
}


	img { 
		border-radius:20px;
        height:200px;
		width:250px;
    
   }

   div{
   	margin:5px 0px;
   }


